/* div{
    border: black solid;
    margin: 10px;
} */
input[type="text"] {
    font-size:15px;
}
body{
    font-family:arial,sans-serif;
    font-size: 15px;
    line-height: 20px;
}
.topbar{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
}
.right{
    display: flex;
    /* border: solid black; */
}
.logo-container{
    position: relative;
    text-align: center;
    min-width: 100px;
    margin-right: 55px;
    margin-left: 20px;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input-field{
    margin: auto 0;
    border: none;
    width: 700px;
    height: 40px; 
    font-size: 18px;  
}
.search-bar-icons{
    height: 50%;
    margin: auto 0;
}
.mic{
    height: 45%;
}
.input-field-container{
    display: flex;
    flex-direction: row;
    width: 600px;
    border: none;
    height: 45px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 300px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}
.input-field-container:hover{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.separator{
    padding-right: 10px;
    margin: auto;
    border-left: 1px solid #dfe1e5;
    height: 65%;
}
.placeholder{
    margin: auto;
    border-radius: 50px;
    height: 32px;
    width: 32px;
}
.menu{
    margin: auto;
    border: none;
    height: 15px;
}
.navlinks-container{
    margin-top: 30px;
    display: flex;    
    border-bottom: 1px solid #ebebeb;
    width: 100%;
}
.all-container{
    display: flex;
    margin: 0 20px 0 178px;
    border-bottom: solid #1a73e8;
    padding-bottom: 10px;
}
.all-text{
    color: #1a73e8;
    margin: auto;
}
.navicons{
    margin: auto;
    height: 15px;
}
.navlinks-text-container{
    display: flex;
    margin: 0 7px 0 10px;
    padding-bottom: 14px;
}
.nav-text{
    color: #70757A;
    margin: auto;
}
.righthalfnav{
    margin-left: 73px;
}
.speed-content{
    display: flex;   
}
.speed{    
    margin: 15px 0px 15px 178px;
    color: #70757A;
}
.search-content{
    display: flex;
    margin-left: 178px;
    /* border: solid salmon; */
}
.results{
    /* border: solid black; */
    width: 37%;
}
/* .people-search{
    border: solid black;
}
.result-container{
    border: solid salmon;
} */
.result-container{
    margin: 10px 0 15px 0;
}
.ad-separator{
    margin-left: 3px;
}
.website-intro{
    display: inline-flex;
    margin: 10px 0 10px 0;
}
.heading-link{
    color: #2F0DAB;
    font-size: 20px;
}
.description{
    margin: 10px 0 10px 0;
    color: #70757A;
}
.cats{
    margin: 20px 0 0 20px;
    /* border: solid salmon; */
    height: 180px;
}
.individual{
    /* border: solid black; */
    width: 50%;
    height: 100%;
}
.row{
    height: 49%;
    display: flex;
}
.people-search{
    padding: 10px 10px 0 10px;
    margin: 10px 0 10px 0;
    border: solid 1px #dadce0;
    border-radius: 8px;
    height: fit-content;
}
.description2{
    color:#6F6F87;
}
.people-search-close{
    height: 17px;
}
.top-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.links-container{
    /* border: solid salmon; */
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px;
    list-style-type:none;
    padding: 0;
}
.links-container li{
    margin: 2px 0 2px 0;
    width: 50%;
}
.links-container li a{
    color: #2F0DAB;
}
.lmaoo{
    /* display: block; */
    width: 500px;
    display: flex;
    /* border: solid salmon; */
}
.ads{
    width: 100%;
    margin: 0 0 0 100px;
}
.right-people-search{
    width: fit-content;
    margin: 0 0 10px 0;
}
.rightsideadcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}
.collapse-icon{
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
    height: 20px;
}
.LV5Kte{
    border-radius: 10px;    
}
.banner-containers{
    height: 78px;
    width: 78px;
    margin-bottom: 12px;
}
.banner-with-names{
    margin: 0 5px 0 5px;
    width: 78px;
    height: fit-content;
}
.banner-with-names span a{
    color: black;
}
.row-of-banners{
    margin-top: 17px;
    display: flex;
}
.see-more{
    display: flex;
    position: relative;
    margin: 10px 10px 10px 10px;
    width: 97%;
    border-radius: 50px;
    text-align: center;
    height: 35px;
    border: solid 1px #dadce0;    
}
.see-more span{
    color: #1a0dab;
    margin: 0 auto;
    line-height: 35px;
}
.right-arrow{
    margin-left: 10px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    height: 20px;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
 }
:focus{
    outline: none;
}
p{
    color: brown;
}